* {
    margin: 0;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(./img.png/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;

}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 20px;
}

.praviy-chast {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.first-button {
    background-color: rgba(26, 62, 62, 1);
    padding: 12px 24px;
    border-radius: 4px;
    color: white;
    border: none;
    font-size: 18px;
}

.icon {
    font-size: 50px;
    display: none;
}

header h1 {
    font-size: 55px;
    font-weight: bolder;
    padding: 250px 350px 50px;
}

.vnizniy-chast {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 60%;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: auto;
    border-radius: 10px;

}

.vnizniy-chast select,
input {
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    height: 50px;
    border-radius: 8px;
    display: block;
    margin-bottom: 10px;
    color: rgba(253, 253, 253, 1);
    border: none;
    padding-left: 10px
}

.date {
    background-color: rgba(255, 255, 255, 0.2);
    color: white
}

.second-button {
    background-color: white;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    color: black;
    border: none;
    font-size: 18px;

}

.section-2 {
    display: flex;
    justify-content: center;
    padding: 15% 15%;
    gap: 100px;
    position: relative;
}

.img-part {
    width: 30%;
}

.next-part {
    width: 40%;
}

.par-3 {
    font-size: 20px;
    color: rgba(24, 18, 30, 1);
    margin-bottom: 30px;
}

.par-1 {
    color: rgba(242, 190, 34, 1);
    font-size: 25px;
}

.par-2 {
    font-size: 35px;
    color: black;
    font-weight: 700;
    margin-bottom: 10px;
}

.third-button {
    background-color: rgba(26, 62, 62, 1);
    padding: 12px 24px;
    border-radius: 4px;
    color: white;
    border: none;
    font-size: 18px;
    gap: 20px;
}

.img-1 {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 15%;
}

.img-2 {
    position: absolute;
    z-index: 2;
}

.third-button {
    background-color: rgba(26, 62, 62, 1);
    padding: 12px 24px;
    border-radius: 4px;
    color: white;
    border: none;
    font-size: 18px;
    gap: 20px;
}

.section-3 {
    background-color: rgba(243, 245, 244, 1);
    display: flex;
    justify-content: center;
    padding: 5% 15%;
    gap: 20px;

}

.left-part {
    width: 40%;
}

.sector {
    display: flex;
    gap: 20px;
    font-size: 16px;
    margin-bottom: 20px
}

.sector h4 {
    font-size: 20px;
    padding-bottom: 10px;
}

.sector img {
    width: 40%;
}

.sector1 {
    padding-bottom: 20px;
}

.right-part-1 {
    display: flex;
    gap: 10px 10px;
    padding-bottom: 10px;

}

.par-4 {
    padding: 50px 0px 10px;
    text-align: center;
}

.par-5 {
    text-align: center;
    padding-bottom: 30px;
}


.section-4 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.back {
    width: 350px;
    height: 450px;
    background-image: url(./img.png/фоновое\ изображение\ \(3\).png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    border-radius: 40px;
}

.text {
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 90%;
    padding: 20px;
    display: flex;
    align-items: center;
}

.text h4 {
    font-size: 20px;
}

.dol {
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 4px 8px;
    margin-left: 10%;
}

.back1 {
    width: 350px;
    height: 450px;
    background-image: url(./img.png/фоновое\ изображение\ \(4\).png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    border-radius: 40px;
}

.back2 {
    width: 350px;
    height: 450px;
    background-image: url(./img.png/фоновое\ изображение\ \(5\).png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    border-radius: 40px;
}

.fourth-button {
    margin-left: 45%;
    background-color: rgba(26, 62, 62, 1);
    padding: 12px 24px;
    border-radius: 4px;
    color: white;
    border: none;
    font-size: 18px;
    margin-bottom: 30px;

}

.star {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    gap: 10px;
    color: black;
    background-color: rgba(253, 253, 253, 0.4);
    width: 70px;
    margin-left: 75%;
    margin-top: 10%;
}

.section-5 {
    background-color: rgba(243, 245, 244, 1);
    padding: 5% 5%;
    margin-bottom: 50px;
}

.qismho {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.qism {
    display: flex;
    gap: 20px;
    background-color: rgba(253, 253, 253, 1);
    padding: 20px;
    border-radius: 10px;
    width: 45%;
}

.qism h3 {
    font-size: 28px;
    font-weight: 900;
    padding-bottom: 30px;
}

.qism p {
    color: rgba(24, 18, 30, 1);
    font-size: 18px;
    padding-bottom: 50px;
}

.poyon {
    display: flex;
    gap: 150px;
}

.poyon p {
    color: rgba(242, 190, 34, 1);
}

#lop {
    color: black;
}

.but {
    display: block;
}

.section-6 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 30px;
    padding: 50px 15%;
}

.section-7 {
    display: flex;
    justify-content: center;
    width: 55%;
    margin: auto;
    padding: 20px 5%;
    box-shadow: 0px 0px 15px rgba(24, 18, 30, 0.12);
    gap: 50px;
    margin-top: 50px;
    position: relative;
    top: 100px; 
    z-index: 100;
    background-color: rgba(253, 253, 253, 1);
 

}


label {
    display: block;
    font-size: 25px;
    padding-bottom: 20px;
}

input {
    border: 1px solid black;
    padding-left: 20px;
    background-color: rgba(243, 245, 244, 1);
    display: inline-block;
}

.bar p {
    font-size: 18px;
    color: rgba(24, 18, 30, 1);
}

.tex {
    font-size: 28px;
    padding: 20px 0px;
}

.section-8 {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: rgba(26, 62, 62, 1);
    color: white;
    padding: 150px 50px 50px;
    color: rgba(253, 253, 253, 1);
   position: relative;
   z-index: -1;
  
}

.perviy {
    width: 30%;
}

.perviy h6 {
    font-size: 25px;
    padding-bottom: 20px;
}

.perviy p {
    font-size: 14px;
    padding-bottom: 30px;
}

.pay {
    display: flex;
    gap: 30px;
    padding-top: 30px;
}

.vtoroy {
    width: 20%;
}

.vtoroy h6 {
    font-size: 25px;
    padding-bottom: 20px;
}

.vtoroy p {
    font-size: 14px;
    padding-bottom: 10px;
}

.yel {
    color: yellow;
}

.tretiy {
    width: 20%;
}

.tretiy h6 {
    font-size: 25px;
    padding-bottom: 20px;
}

.tretiy p {
    font-size: 14px;
    padding-bottom: 10px;
}
.img-3 {
    position: absolute;
    top: 60%;
    left: 53%;
}
@media (max-width:510px) {
    header {
        width: 100%;
        height: auto;
        background-image: url(./img.png/Rectangle\ 1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }

    nav {
        display: flex;
        justify-content: space-between;

    }

    .praviy-chast {
        display: none;
    }

    .icon {
        display: block;
    }

    header h1 {
        padding: 60% 20px 20px;
        font-size: 40px;
    }

    .chast {
        display: none;
    }

    .vnizniy-chast {
        margin-left: 0px;
        background-color: transparent;
    }

    .section-2 {
        display: flex;
        flex-direction: column-reverse;
        padding: 10% 3%;
    }

    .next-part {
        width: 100%;
    }

    .img-part {
        width: 100%;
        margin-bottom: 100%;
    }

    .third-button {
        margin-left: 110px;
    }

    .img-part img {
        width: 95%;

    }

    .img-1 {
        display: none;
    }

    .section-3 {
        display: flex;
        flex-direction: column;
        padding: 10% 3%;
    }

    .left-part {
        width: 100%;
    }

    .right-part {
        display: none;
    }

    .section-4 {
        overflow: auto;
        justify-content: start;

    }

    .back,
    .back1,
    .back2 {
        min-width: 90%;
        height: auto;
    }

    .fourth-button {
        margin-left: 25%;
    }

    .qism {
        display: flex;
        flex-direction: column;
        min-width: 90%;
    }

    .qismho {
        overflow: auto;
        justify-content: start;
    }

    .rasm-part {
        width: 100%;
    }

    .lob {
        margin-right: 10px;
    }

    .section-6 {
        justify-content: start;
        flex-wrap: nowrap;
        overflow: auto;
        padding: 50px 20px;
    }

    .first,
    .second {
        min-width: 90%;
    }

    .section-7 {
        display: flex;
        flex-direction: column;
        width: 80%;
        top: 0px;
        margin-bottom: 30px;
    }

    .tub {
        width: 100%;
        height: 50%;
        margin-left: 5px;
        margin-bottom: 20px;
    }

    .bar p {
        font-size: 16px;
        color: rgba(24, 18, 30, 1);
    }

    .section-8 {
        display: flex;
        flex-direction: column;
    }

    .perviy {
        width: 100%;
    }

    .vtoroy {
        width: 100%;
    }

    .tretiy {
        width: 100%;
    }


}