* {
    margin: 0;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(./img.png/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;

}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 20px;
}

.praviy-chast {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.first-button {
    background-color: rgba(26, 62, 62, 1);
    padding: 12px 24px;
    border-radius: 4px;
    color: white;
    border: none;
    font-size: 18px;
}

.icon {
    font-size: 50px;
    display: none;
}

header h1 {
    font-size: 55px;
    font-weight: bolder;
    padding: 250px 350px 50px;
}

.vnizniy-chast {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 60%;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: auto;
    border-radius: 10px;

}

.vnizniy-chast select,
input {
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    height: 50px;
    border-radius: 8px;
    display: block;
    margin-bottom: 10px;
    color: rgba(253, 253, 253, 1);
    border: none;
    padding-left: 10px
}

.date {
    background-color: rgba(255, 255, 255, 0.2);
    color: white
}

.second-button {
    background-color: white;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    color: black;
    border: none;
    font-size: 18px;

}








@media (max-width:510px) {
    header {
        width: 100%;
        height: auto;
        background-image: url(./img.png/Rectangle\ 1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }
    nav {
        display: flex;
        justify-content: space-between;

    }

    .praviy-chast {
        display: none;
    }

    .icon {
        display: block;
    }

    header h1 {
        padding: 60% 20px 20px;
        font-size: 40px;
    }

    .chast {
        display: none;
    }

    .vnizniy-chast {
        margin-left: 0px;
        background-color: transparent;
    }

}